.mainFxmlClass {

}
*{
    -fx-base-color-test: #000;
    -fx-base-color-gameBeigh:#ffcc66 ; 
    -fx-base-color-gameBeigh2:#c1c173;
}

.mfx-text-field, .mfx-password-field{
    -fx-text-fill: -fx-base-color-test;
    -fx-prompt-text-fill: -fx-base-color-gameBeigh;
    -mfx-main: -fx-base-color-gameBeigh;
    -mfx-secondary:-fx-base-color-gameBeigh2;
}


.jfx-field-game-background{     
    -fx-background-image: url(../resource/visuals/fieldGame.png);   
    -fx-background-size: cover; 
    -fx-background-position: center center;  
    -fx-background-repeat: no-repeat; 
}  
    .jfx-title-label {
        -fx-text-fill: #3b2a1a; 
        -fx-font-size: 22px;
        -fx-font-weight: bold;
        -fx-font-family: "Georgia";

    }
    
    .jfx-title-label-2 {
        -fx-background-color:#c8a840;
        -fx-text-fill: #3b2a1a; 
        -fx-font-size: 22px;
        -fx-font-weight: bold;
        -fx-font-family: "Georgia";
        
        -fx-background-radius: 10;
        -fx-border-radius: 10;
        -fx-border-color: #cccccc;
    }    

    .jfx-mfx-text-field{
        -fx-font-family:  "Georgia", serif;
        -fx-font-size: 12px;
        -fx-font-style: italic;
        -fx-text-fill: #2e1a06; 

    }
    
    .jfx-list-view{
        -fx-background-color: #e5e2da;
        -fx-background-radius: 10;
        -fx-border-radius: 10;
        -fx-border-color: #cccccc;
        -fx-boder-color: #c8a840;
    }
    
    .jfx-cell-list{
        -fx-font-family:  "Georgia", serif;
        -fx-font-size: 12px;
        -fx-font-style: italic;        
    }
    
    