.mainFxmlClass {

}
*{
    -fx-base-color-test: #000;
    -fx-base-color-gameBeigh:#ffcc66 ; 
    -fx-base-color-gameBeigh2:#c1c173;
}

.mfx-text-field, .mfx-password-field{
    -fx-text-fill: -fx-base-color-test;
    -fx-prompt-text-fill: -fx-base-color-gameBeigh;
    -mfx-main: -fx-base-color-gameBeigh;
    -mfx-secondary:-fx-base-color-gameBeigh2;
}

/**********************************************************************************************************************
                                            *     backgrounds     *
**********************************************************************************************************************/
.jfx-mainViewBackground{
    -fx-background-color: transparent;
    
    -fx-background-image: url("../resource/visuals/main_view_background.png");
    -fx-background-size: cover; 
    -fx-background-position: center center;  
    -fx-background-repeat: no-repeat; 
    -fx-background-size: 100% 100%;
}
/***************************************************************************/
.jfx-field-game-background{     
    -fx-background-image: url(../resource/visuals/fieldGame.png);   
    -fx-background-size: cover; 
    -fx-background-position: center center;  
    -fx-background-repeat: no-repeat; 
}  

/***************************************************************************/
.jfx-gameMenuViewBackground{
    -fx-background-color: transparent;
    
    -fx-background-image: url("../resource/visuals/game_menu_background.png");
    -fx-background-size: cover; 
    -fx-background-position: center center;  
    -fx-background-repeat: no-repeat; 
}

/***************************************************************************/
.jfx-upgradeViewBackground{
    -fx-background-color: transparent;
    
    -fx-background-image: url("../resource/visuals/upgrade_view_background.png");
    -fx-background-position: center center;  
    -fx-background-repeat: no-repeat; 
    -fx-background-size: 100% 100%;
}
/***************************************************************************/
.jfx-childBackground{
    -fx-background-color: transparent;
    
    -fx-background-image: url("../resource/visuals/child_background1.png");
    -fx-background-size: cover; 
    -fx-background-position: center center;  
    -fx-background-repeat: no-repeat; 
    -fx-background-size: 100% 100%;
}
.jfx-childBackground2{
    -fx-background-color: transparent;
    
    -fx-background-image: url("../resource/visuals/child_background2.png");
    -fx-background-size: cover; 
    -fx-background-position: center center;  
    -fx-background-repeat: no-repeat; 
    -fx-background-size: 100% 100%;
}
.jfx-childBackground3{
    -fx-background-color: transparent;
    
    -fx-background-image: url("../resource/visuals/child_background3.png");
    -fx-background-position: center center;  
    -fx-background-repeat: no-repeat; 
    -fx-background-size: 100% 100%;
}
.jfx-childBackground4{
    -fx-background-color: transparent;
    
    -fx-background-image: url("../resource/visuals/child_background4.png");
    -fx-background-size: cover; 
    -fx-background-position: center center;  
    -fx-background-repeat: no-repeat; 
    -fx-background-size: 100% 100%;
}
.jfx-childBackground5{
    -fx-background-color: transparent;
    
    -fx-background-image: url("../resource/visuals/child_background5.png");
    -fx-background-size: cover; 
    -fx-background-position: center center;  
    -fx-background-repeat: no-repeat; 
    -fx-background-size: 100% 100%;
}
/**********************************************************************************************************************
                                            *     other resources     *
**********************************************************************************************************************/
.jfx-textBanner{
    -fx-background-color: transparent;
    
    -fx-background-image: url("../resource/visuals/text_banner.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-textBanner2{
    -fx-background-color: transparent;
    
    -fx-background-image: url("../resource/visuals/text_banner2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-textNewCampaignBanner{
    -fx-background-color: transparent;
    
    -fx-background-image: url("../resource/visuals/new_campaign_banner.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-hoverGlow:hover > Pane{
    -fx-background-color: transparent;
    
    -fx-background-image: url("../resource/visuals/hover_glow.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-difficultyBanner{ 
    -fx-background-color: transparent;
    
    -fx-background-image: url("../resource/visuals/difficulty_banner.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-volumeBanner{ 
    -fx-background-color: transparent;
    
    -fx-background-image: url("../resource/visuals/volume_banner.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
/**********************************************************************************************************************
                                            *     buttons     *
**********************************************************************************************************************/
/***************************************************************************/ /* Log in button */
.jfx-cBLogInButton{
    -fx-background-color: transparent;

    -fx-background-image: url("../resource/visuals/login_button.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-cBLogInButton:hover{
    -fx-background-image: url("../resource/visuals/login_button_hover.png");
}
.jfx-cBLogInButton:hover:pressed{
    -fx-background-image: url("../resource/visuals/login_button_pressed.png");
}
/***************************************************************************/ /* play as guest button */
.jfx-cBPlayAsGuestButton{
    -fx-background-color: transparent;

    -fx-background-image: url("../resource/visuals/play_as_guest_button.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-cBPlayAsGuestButton:hover{
    -fx-background-image: url("../resource/visuals/play_as_guest_button_hover.png");
}
.jfx-cBPlayAsGuestButton:hover:pressed{
    -fx-background-image: url("../resource/visuals/play_as_guest_button_pressed.png");
}
/***************************************************************************/ /* information button */
.jfx-cBInformation{
    -fx-background-color: transparent;

    -fx-background-image: url("../resource/visuals/information_button.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-cBInformation:hover{
    -fx-background-image: url("../resource/visuals/information_button_hover.png");
}
.jfx-cBInformation:hover:pressed{
    -fx-background-image: url("../resource/visuals/information_button_pressed.png");
}
/***************************************************************************/ /* Exit game button */
    .jfx-cBExitGameButton{
        -fx-background-color: transparent;

        -fx-background-image: url("../resource/visuals/exit_game_button.png");
        -fx-background-repeat: no-repeat;
        -fx-background-position: center;
        -fx-background-size: 100% 100%;
    }

    .jfx-cBExitGameButton:hover{
        -fx-background-image: url("../resource/visuals/exit_game_button_hover.png");
    }

    .jfx-cBExitGameButton:pressed{
        -fx-background-image: url("../resource/visuals/exit_game_button_pressed.png");
    }
/***************************************************************************/ /* Cancel Button */
.jfx-cbCancelButton{
    -fx-background-color: transparent;

    -fx-background-image: url("../resource/visuals/cancel_button.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-cbCancelButton:hover{
    -fx-background-image: url("../resource/visuals/cancel_button_hover.png");
}
.jfx-cbCancelButton:hover:pressed{
    -fx-background-image: url("../resource/visuals/cancel_button_pressed.png");
}
/***************************************************************************/ /* Accept Button */
.jfx-cbAcceptButton{ 
    -fx-background-color: transparent;

    -fx-background-image: url("../resource/visuals/accept_button.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-cbAcceptButton:hover{
    -fx-background-image: url("../resource/visuals/accept_button_hover.png");
}
.jfx-cbAcceptButton:hover:pressed{
    -fx-background-image: url("../resource/visuals/accept_button_pressed.png");
}
/***************************************************************************/ /* check Button */
.jfx-cBCheck{
    -fx-background-color: transparent;

    -fx-background-image: url("../resource/visuals/check_off.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-cBCheck:hover{
    -fx-background-image: url("../resource/visuals/check_off_hover.png");
}
.jfx-cBCheck:hover:pressed{
    -fx-background-image: url("../resource/visuals/check_off_pressed.png");
}
/***************************************************************************/ /* settings button */
.jfx-cBSettings{
    -fx-background-color: transparent;

    -fx-background-image: url("../resource/visuals/settings_button.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-cBSettings:hover{
    -fx-background-image: url("../resource/visuals/settings_button_hover.png");
}
.jfx-cBSettings:hover:pressed{
    -fx-background-image: url("../resource/visuals/settings_button_pressed.png");
}
/***************************************************************************/ /* campaign button */
.jfx-cBCampaign{
    -fx-background-color: transparent;

    -fx-background-image: url("../resource/visuals/campaign_button.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-cBCampaign:hover{
    -fx-background-image: url("../resource/visuals/campaign_button_hover.png");
}
.jfx-cBCampaign:hover:pressed{
    -fx-background-image: url("../resource/visuals/campaign_button_pressed.png");
}
/***************************************************************************/ /* log out button */
.jfx-cBLogOut{
    -fx-background-color: transparent;

    -fx-background-image: url("../resource/visuals/log_out_button.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-cBLogOut:hover{
    -fx-background-image: url("../resource/visuals/log_out_button_hover.png");
}
.jfx-cBLogOut:hover:pressed{
    -fx-background-image: url("../resource/visuals/log_out_button_pressed.png");
}
/***************************************************************************/ /* leave button */
.jfx-cBLeave{
    -fx-background-color: transparent;

    -fx-background-image: url("../resource/visuals/leave_button.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-cBLeave:hover{
    -fx-background-image: url("../resource/visuals/leave_button_hover.png");
}
.jfx-cBLeave:hover:pressed{
    -fx-background-image: url("../resource/visuals/leave_button_pressed.png");
}
/***************************************************************************/ /* register button */
.jfx-cBRegister{
    -fx-background-color: transparent;

    -fx-background-image: url("../resource/visuals/register_button.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-cBRegister:hover{
    -fx-background-image: url("../resource/visuals/register_button_hover.png");
}
.jfx-cBRegister:hover:pressed{
    -fx-background-image: url("../resource/visuals/register_button_pressed.png");
}
/***************************************************************************/ /* easy button */
.jfx-cBEasy{
    -fx-background-color: transparent;

    -fx-background-image: url("../resource/visuals/easy_button.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-cBEasy:hover{
    -fx-background-image: url("../resource/visuals/easy_button_hover.png");
}
.jfx-cBEasy:hover:pressed{
    -fx-background-image: url("../resource/visuals/easy_button_pressed.png");
}
/***************************************************************************/ /* normal button */
.jfx-cBNormal{
    -fx-background-color: transparent;

    -fx-background-image: url("../resource/visuals/normal_button.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-cBNormal:hover{
    -fx-background-image: url("../resource/visuals/normal_button_hover.png");
}
.jfx-cBNormal:hover:pressed{
    -fx-background-image: url("../resource/visuals/normal_button_pressed.png");
}
/***************************************************************************/ /* hard button */
.jfx-cBHard{
    -fx-background-color: transparent;

    -fx-background-image: url("../resource/visuals/hard_button.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-cBHard:hover{
    -fx-background-image: url("../resource/visuals/hard_button_hover.png");
}
.jfx-cBHard:hover:pressed{
    -fx-background-image: url("../resource/visuals/hard_button_pressed.png");
}
/***************************************************************************/ /* continue button */
.jfx-cBContinue{
    -fx-background-color: transparent;

    -fx-background-image: url("../resource/visuals/continue_button.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}

.jfx-cBContinue:hover{
    -fx-background-image: url("../resource/visuals/continue_button_hover.png");
}

.jfx-cBContinue:pressed{
    -fx-background-image: url("../resource/visuals/continue_button_pressed.png");
}

/***************************************************************************/ /* next level button */
.jfx-cBNextLevel{
    -fx-background-color: transparent;

    -fx-background-image: url("../resource/visuals/next_level_button.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}

.jfx-cBNextLevel:hover{
    -fx-background-image: url("../resource/visuals/next_level_button_hover.png");
}

.jfx-cBNextLevel:pressed{
    -fx-background-image: url("../resource/visuals/next_level_button_pressed.png");
}

/***************************************************************************/ /* pause button */
.jfx-cBPause{
    -fx-background-color: transparent;

    -fx-background-image: url("../resource/visuals/pause_button.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}

.jfx-cBPause:hover{
    -fx-background-image: url("../resource/visuals/pause_button_hover.png");
}

.jfx-cBPause:pressed{
    -fx-background-image: url("../resource/visuals/pause_button_pressed.png");
}

/***************************************************************************/ /* retry button */
.jfx-cBRetry{
    -fx-background-color: transparent;

    -fx-background-image: url("../resource/visuals/retry_button.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}

.jfx-cBRetry:hover{
    -fx-background-image: url("../resource/visuals/retry_button_hover.png");
}

.jfx-cBRetry:pressed{
    -fx-background-image: url("../resource/visuals/retry_button_pressed.png");
}
/***************************************************************************/ /* get code button */
.jfx-cBGetCode{
    -fx-background-color: transparent;

    -fx-background-image: url("../resource/visuals/get_code_button.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-cBGetCode:hover{
    -fx-background-image: url("../resource/visuals/get_code_button_hover.png");
}
.jfx-cBGetCode:hover:pressed{
    -fx-background-image: url("../resource/visuals/get_code_button_pressed.png");
}
/***************************************************************************/ /* change icon button */
.jfx-cBChangeIcon{
    -fx-background-color: transparent;

    -fx-background-image: url("../resource/visuals/change_icon_button.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-cBChangeIcon:hover{
    -fx-background-image: url("../resource/visuals/change_icon_button_hover.png");
}
.jfx-cBChangeIcon:hover:pressed{
    -fx-background-image: url("../resource/visuals/change_icon_button_pressed.png");
}
/***************************************************************************/ /* brutal button */
.jfx-cBBrutal{
    -fx-background-color: transparent;

    -fx-background-image: url("../resource/visuals/brutal_button.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-cBBrutal:hover{
    -fx-background-image: url("../resource/visuals/brutal_button_hover.png");
}
.jfx-cBBrutal:hover:pressed{
    -fx-background-image: url("../resource/visuals/brutal_button_pressed.png");
}
/***************************************************************************/ /* create campaign button */
.jfx-cBCreateCampaign{
    -fx-background-color: transparent;

    -fx-background-image: url("../resource/visuals/create_campaign_button.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-cBCreateCampaign:hover{
    -fx-background-image: url("../resource/visuals/create_campaign_button_hover.png");
}
.jfx-cBCreateCampaign:hover:pressed{
    -fx-background-image: url("../resource/visuals/create_campaign_button_pressed.png");
}
/***************************************************************************/ /* upgrade button */
.jfx-cBUpgrade{
    -fx-background-color: transparent;

    -fx-background-image: url("../resource/visuals/upgrade_button.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-cBUpgrade:hover{
    -fx-background-image: url("../resource/visuals/upgrade_button_hover.png");
}
.jfx-cBUpgrade:hover:pressed{
    -fx-background-image: url("../resource/visuals/upgrade_button_pressed.png");
}
/***************************************************************************/ /* toggle off */
.jfx-cBToggleOff{
    -fx-background-color: transparent;

    -fx-background-image: url("../resource/visuals/toggle_off.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-cBToggleOff:hover{
    -fx-background-image: url("../resource/visuals/toggle_off_hover.png");
}
.jfx-cBToggleOff:hover:pressed{
    -fx-background-image: url("../resource/visuals/toggle_off_pressed.png");
}
/***************************************************************************/ /* toggle on */
.jfx-cBToggleOn{
    -fx-background-color: transparent;

    -fx-background-image: url("../resource/visuals/toggle_on.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.jfx-cBToggleOn:hover{
    -fx-background-image: url("../resource/visuals/toggle_on_hover.png");
}
.jfx-cBToggleOn:hover:pressed{
    -fx-background-image: url("../resource/visuals/toggle_on_pressed.png");
}
/***************************************************************************/ /* trash Button */
.jfx-cBTrash {
        -fx-background-color: transparent;
        -fx-background-image: url("../resource/visuals/trash_icon.png");
        -fx-background-repeat: no-repeat;
        -fx-background-position: center;
        -fx-background-size: 100% 100%;
    }
    .jfx-cBTrash:hover {
        -fx-background-image: url("../resource/visuals/trash_icon_hover.png");
    }
    .jfx-cBTrash:hover:pressed {
        -fx-background-image: url("../resource/visuals/trash_icon_pressed.png");
    }
/***************************************************************************/ /* Health Button */
.jfx-healthSprite{
    -fx-background-color: transparent;
    
    -fx-background-image: url("../resource/visuals/health.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
/***************************************************************************/ /* Elixir Button */
.jfx-elixirSprite{
    -fx-background-color: transparent;
    
    -fx-background-image: url("../resource/visuals/elixir.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
/***************************************************************************/ /* Ballista Button */
.jfx-ballistaSprite{
    -fx-background-color: transparent;
    
    -fx-background-image: url("../resource/visuals/ballista.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
/***************************************************************************/ /* Arrow Button */
.jfx-arrowSprite{
    -fx-background-color: transparent;
    
    -fx-background-image: url("../resource/visuals/arrow.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
/***************************************************************************/ /* Meteor Button */
.jfx-meteorSprite{
    -fx-background-color: transparent;
    
    -fx-background-image: url("../resource/visuals/meteor.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
/***************************************************************************/ /* Frost Button */
.jfx-frostSprite{
    -fx-background-color: transparent;
    
    -fx-background-image: url("../resource/visuals/frost.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}


    .jfx-title-label {
        -fx-text-fill: #3b2a1a; 
        -fx-font-size: 22px;
        -fx-font-weight: bold;
        -fx-font-family: "Georgia";

    }
    
    .jfx-title-label-2 {
        -fx-background-color:#c8a840;
        -fx-text-fill: #3b2a1a; 
        -fx-font-size: 22px;
        -fx-font-weight: bold;
        -fx-font-family: "Georgia";
        
        -fx-background-radius: 10;
        -fx-border-radius: 10;
        -fx-border-color: #cccccc;
    }    
    
    .jfx-title-label-3 {
        -fx-background-image: url(../resource/visuals/text_banner.png);
        -fx-background-repeat: no-repeat;
        -fx-background-position: center;
        -fx-background-size: 100% 100%;        
        
        -fx-text-fill: #3b2a1a; 
        -fx-font-size: 22px;
        -fx-font-weight: bold;
        -fx-font-family: "Georgia";
        
        -fx-background-radius: 10;
        -fx-border-radius: 10;
        -fx-border-color: #cccccc;
    }    
    
    .jfx-title-label-4 {
        -fx-background-image: url(../resource/visuals/text_banner_2.png);
        -fx-background-repeat: no-repeat;
        -fx-background-position: center;
        -fx-background-size: 100% 100%;        
        
        -fx-text-fill: #3b2a1a; 
        -fx-font-size: 22px;
        -fx-font-weight: bold;
        -fx-font-family: "Georgia";
        
        -fx-background-radius: 10;
        -fx-border-radius: 10;
        -fx-border-color: #cccccc;
    }        
    .jfx-mfx-text-field{
        -fx-font-family:  "Georgia", serif;
        -fx-font-size: 12px;
        -fx-font-style: italic;
        -fx-text-fill: #2e1a06; 

    }
    
    .jfx-list-view{
        -fx-background-color: #e5e2da;
        -fx-background-radius: 10;
        -fx-border-radius: 10;
        -fx-border-color: #cccccc;
        -fx-boder-color: #c8a840;
    }
    
    .jfx-cell-list{
        -fx-font-family:  "Georgia", serif;
        -fx-font-size: 12px;
        -fx-font-style: italic;        
    }
    
    